<div style="height: 100%">
  <agm-map [latitude]="initLat" [longitude]="initLng" [zoom]="10"
    (mapClick)="mapClicked($event, modalTemplate)">
    <agm-marker *ngIf="lat && lng" [longitude]="lng" [latitude]="lat"></agm-marker>
  </agm-map>
</div>

<ng-template #modalTemplate>
  <div class="modal-header">
    <h4 class="col-sm-12 modal-title text-center">Proposed places
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </h4>
  </div>
  <div class="modal-body modal-lg">
    <ng-container *ngIf="(coolPlaces | async)?.length">
      <div class="container">
        <div class="row" *ngFor="let place of coolPlaces | async">
          
          <div class="col-6">
            <div class="col-12">
              <h5>{{place.title}}</h5>
            </div>
          </div>
          <div class="col-6">

          </div>
          <div class="hr"></div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!(coolPlaces | async)?.length">
      <div class="text-center">
        No cool places found there... what a poor.
      </div>
    </ng-container>
  </div>
</ng-template>
