<div style="height: 100%">
  <agm-map [latitude]="initLat" [longitude]="initLng" [zoom]="10" (mapClick)="mapClicked($event, modalTemplate)">
    <agm-marker *ngIf="lat && lng" [longitude]="lng" [latitude]="lat"></agm-marker>
  </agm-map>
</div>

<ng-template #modalTemplate>
  <div class="modal-header">
    <h4 class="col-sm-12 modal-title text-center">Proposed places
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </h4>
  </div>
  <div class="modal-body modal-lg" style="overflow-y: scroll; max-height: 600px;">
    <ng-container *ngIf="(coolPlaces | async)?.length">
      <div class="container">
        <ng-container *ngFor="let place of coolPlaces | async">
          <div class="row" style="margin-top: 10px; min-height: 100px;">
            <div class="col-8">
              <div class="col-12">
                <h5>{{place.title}}</h5>
                <h6 class="text-muted">{{place.description}}</h6>
                <a target="_blank" [attr.href]="place.fullurl">Show more...</a>
              </div>
            </div>
            <div class="col-4">
              <img *ngIf="place.imageUrl" [src]="place.imageUrl" class="rounded float-right"
                style="max-width: 100px; max-height: 100px">
            </div>
            <div class="col-12 float-right">
                <button type="button" (click)="planTrip(place)" class="btn btn-sm btn-link btn-block">plan trip <i class="fas fa-long-arrow-alt-right"></i></button>
              </div>
            <hr style="width: 100%">
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="!(coolPlaces | async)?.length">
      <div class="text-center">
        No cool places found there... what a poor.
      </div>
    </ng-container>
  </div>
</ng-template>