<div class="card shadow-lg" style="margin-top: 20px;">
  <!-- <div class="card-header">
    
  </div> -->
  <div class="card-body">
    <h5 style="text-align: center">Plan a new adventure</h5>
    <hr>
    <form [formGroup]="newTripform">
      <div class="form-group col-12">
        <label for="inputName">Adventure Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Enter adventure name"
          formControlName="name">
      </div>
      <div class="form-group col-12">
        <label for="inputName">Place</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="inputPlace" formControlName="place" readonly>
          <div class="input-group-append">
            <button (click)="openWiki()" class="btn btn-outline-secondary" type="button" style="margin: 0 !important"><i
                class="fas fa-long-arrow-alt-right"></i></button>
          </div>
        </div>
      </div>
      <div style="display: flex">
        <div class="form-group col-9">
          <label for="inputDate">Date</label>
          <input type="text" id="inputDate" class="form-control mb-3" placeholder="Pick a date" bsDatepicker
            (bsValueChange)="onDateChage($event)" formControlName="date" />
        </div>
        <div class="col-3" style="display: flex;">
            <i style="height: 60px;margin-top: 20px;" class="fas fa-4x fa-sun"></i>
            <h2 style="height: 40px;margin-top: 29px;margin-left: 20px;">24 °C </h2>
        </div>
      </div>

      <div class="form-group col-12">
        <label for="inputNotes">Notes</label>
        <textarea class="form-control" id="inputNotes" rows="3" placeholder="Enter some notes"
          formControlName="notes"></textarea>
      </div>
    </form>
    <hr>
    <button class="btn btn-info btn-block">Save</button>
  </div>
  <!-- <div class="card-footer text-muted">
    <button class="btn btn-info btn-block">Save</button>
  </div> -->
</div>