<div class="card shadow-lg" style="margin-top: 20px;">
  <!-- <div class="card-header">
    
  </div> -->
  <div class="card-body">
    <h5 style="text-align: center">Plan a new adventure</h5>
    <alert *ngIf="savingInProggress" type="info">
      <div style="text-align: center;max-width:unset;"><strong>Heads up!</strong> Saving...
      </div>
    </alert>
    <alert *ngIf="savingError" type="danger">
      <div style="text-align: center;max-width:unset;"><strong>Oh snap!</strong> Something goes wrong!
      </div>
    </alert>
    <alert *ngIf="savingSuccess" type="success">
        <div style="text-align: center;max-width:unset;"><strong>Well done!</strong> Trip was saved successfully!
        </div>
      </alert>
    <hr>
    <form [formGroup]="newTripform">
      <div class="form-group col-12">
        <label for="inputName">Adventure Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Enter adventure name" formControlName="name"
          [class.is-invalid]="inputName.invalid && (inputName.touched || inputName.dirty)">
        <div *ngIf="inputName.errors?.required && (inputName.touched || inputName.dirty)" class="invalid-feedback">
          Adventure Name!
        </div>
      </div>
      <div class="form-group col-12">
        <label for="inputName">Place</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="inputPlace" formControlName="place" readonly>
          <div class="input-group-append">
            <button (click)="openWiki()" class="btn btn-outline-secondary" type="button" style="margin: 0 !important"><i
                class="fas fa-long-arrow-alt-right"></i></button>
          </div>
        </div>
      </div>
      <div style="display: flex">
        <div class="form-group col-9">
          <label for="inputDate">Date</label>
          <input type="text" id="inputDate" class="form-control mb-3" placeholder="Pick a date" bsDatepicker
            (bsValueChange)="onDateChage($event)" formControlName="date" />
        </div>
        <div class="col-3">
          <h5 style="height: 40px;margin-top: 35px;margin-left: 20px;">Min: {{weather?.temperatureLow}} °C Max:
            {{weather?.temperatureHigh}} °C</h5>
        </div>
      </div>

      <div class="form-group col-12">
        <label for="inputNotes">Notes</label>
        <textarea class="form-control" id="inputNotes" rows="3" placeholder="Enter some notes"
          formControlName="notes"></textarea>
      </div>
    </form>
    <hr>
    <button class="btn btn-info btn-block" (click)="saveForm()">Save</button>
  </div>
  <!-- <div class="card-footer text-muted">
    <button class="btn btn-info btn-block">Save</button>
  </div> -->
</div>